@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 39.5px;
    margin-bottom: 164px;
}

.get-started-btn{
    background-color: #13183F;
    width: 168px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    border-radius: 28px;
    color: white;
    font-weight: 700;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #13183F;
    font-weight: 800;
    font-size: 56px;
    margin-bottom: 24px;
}

h2{
    font-weight: 500;
    font-size: 18px;
    color: #83869A;
    width: 457px;
    margin-bottom: 24px;
}

.hero-btn{
    display: block;
    color: white;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    font-family: "Plus Jakarta Sans", sans-serif;
    padding-left: 32px;
    padding-right: 32px;
    width: fit-content;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 28px;
    text-decoration: none;
}

.hero img{
    margin-right: 40px;
}

.container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 56px;
}


.container-child{
    width: 352px;
    box-shadow: 0px 25px 50px 0px #06168D0B;
    padding: 32px;
    border-radius: 15px;
    box-shadow: 0px 25px 50px 0px #06168D0B;
}

.title{
    font-weight: 800;
    font-size: 24px;
    color: #13183F;
    margin-bottom: 24px;
}

.desc{
    color: #83869A;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 24px;
}

.get-started{
    font-weight: 700;
    font-size: 18px;
}